@import url('https://fonts.googleapis.com/css?family=Assistant:400,200,300,600,700,800&subset=latin');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&amp;subset=cyrillic,cyrillic-ext,greek,latin-ext');

.app {
  height: 100%;
  @media (max-width: 767px) {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    overflow-x: hidden;
  }
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
}
.appContent {
  margin: 0;
}

body, html {
  height: 100%;
  min-width: 365px;
}

body :global {
  font: 300 16px/1 Arial, san-serif;
  #content {
    height: 100%;
  }
}

.pageWrapper {
  min-height: 100%;
  padding-bottom: 196px;
  margin-bottom: -196px;
}

.pageWithoutFooter {
  min-height: 100%;
}

.hidden {
  display: none;
}

:global .icon {
  display: inline-block;
}

@media print {
  .app {
    display: none;
  }
}